/* Boxes */	
	body {
	color: white;
	margin:0px;
	font-family: arial;
	}
	
	.gdm {
	}
	

	.box {
		width: 100%;
		height: 900px;
		padding-top: 150px;
		color: #fff;
		margin: 0px 0 0 0;
	}
	
	.content{
	margin-left:auto;
	margin-right:auto;
	width:900px;
	}
	.preview {
	float:right;
	}
	.description {
	float:left;
	width:600px;
	}
	
	#player {
		position:fixed;	
        opacity: 0.8;
		height: 40px;
		width: 100%;
		padding-top:10px;
		}

	img {
	float:right;
	clear:right
	}

/* Caracters */
	p {
	padding-right: 20px;
	margin:0px;
	margin-bottom:20px;
	margin-top:20px;
	}
	body a {
	color: white;
	font-style: italic;
	text-decoration: none;
	font-size: 12px;
	}
	h1 {
	margin-bottom:5px;
	margin-top:5px;
	}
	h2 {
	margin:0px;
	}

/* Sections */
	#section1 {
		background: #797d4e;
	}
	
	#section2 {
		background: #07a4d1;
	}
	
	#section3 {
		background: #42417D;
	}
	
	#section4 {
		background: #6EB05C;
	}
	#section5 {
		background: #797D4E;
	}
	#section6 {
		background: #5D5CB0;
	}
	#section7 {
		background: #797d4e;
	}
	
	#section8 {
		background: #07a4d1;
	}
	
	#section9 {
		background: #7D788A;
	}
	
	#section10 {
		background: #5D5CB0;
	}
	#section11 {
		background: #E3B160;
	}
	#section12 {
		background: #635720;
	}
	#section13 {
		background: #B0A15C;
	}

/* Visual timline */
.visualtimeline {
	height: 5px;
	width: 775px;
	padding-left:66px;

}
	#cue1 {
		border-left-style: solid;
		border-bottom-style: solid;
		border-left-color: #333333;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		border-left-width: 1px;
		background: #797d4e;
		width:1.53%;
		height:5px;
		float:left;

	}
	#cue2 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 4.64%;
	}
		#cue3 {
			border-bottom-style: solid;
			border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 6.89%;
		background: #42417D;
	}
	
	#cue4 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 4.83%;
		background: #6EB05C;
	}
	#cue5 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 15.55%;
		background: #797D4E;
	}
	#cue6 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 3.61%;
		background: #5D5CB0;
	}
	#cue7 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 12.06%;
		background: #797d4e;
	}
	
	#cue8 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 1.93%;
		background: #07a4d1;
	}
	
	#cue9 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 17.98%;
		background: #7D788A;
	}
	
	#cue10 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 5.33%;
		background: #5D5CB0;
	}
	#cue11 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 20.29%;
		background: #E3B160;
	}
	#cue12 {
		border-bottom-style: solid;
		border-bottom-color: #333333;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 2.43%;
		background: #635720;
	}
	#cue13 {
		border-right-style: solid;
		border-bottom-style: solid;
		border-right-color: #333333;
		border-bottom-color: #333333;
		border-right-width: 1px;
		border-bottom-width: 1px;
		float:left;
		background: #07a4d1;
		height:5px;
		width: 2.93%;
		background: #B0A15C;
	}

	
/* Things */
.mejs-container {
    position: relative;
    background: gray;
    font-family: Helvetica, Arial;
}
audio {
width: 800px;
margin-left:30px;
}

.jump {
float:left;
margin-left:-40px;
}